.feed
	&__container
		container()
		+above($screen-md)
			display flex
			flex-wrap wrap
			margin-bottom -20px
			> .post
				lost-column 1/2 // https://github.com/peterramsing/lost
		+above($screen-lg)
			> .post
				lost-column 1/3 // https://github.com/peterramsing/lost
			margin-bottom -55px

