/*! logo-pink-icon
	 ========================================================================== */

//	.page-header,
//	colorization
.logo-pink
	&-mobile
		&__letters
			fill inherit

	&-tablet
		&__letters
		&__glasses
			fill inherit

	&-desktop
		&__letters
		&__glasses
			fill inherit
		&__spark
		&__sparks
			fill currentColor

	&-mobile
	&-tablet
		use
			fill #fff
			transition-duration 0.3s

	&-desktop
		use
			fill #fff
			color $link-color
			transition-duration 0.3s

	&-mobile
	&-tablet
		&:hover
			use
				fill $link-color
				transition-duration 0.3s

		&:active
			use
				fill #fff
				opacity 0.3
				transition none

	&-desktop
		&:hover
			use
				fill $link-color
				color #fff
				transition-duration 0.3s

		&:active
			use
				fill #fff
				color $link-color
				opacity 0.3
				transition-duration 0s



//	.page-footer,
//	dimensions & colorization
.page-footer
	.logo-pink
		&-tablet
		&-desktop
			width 147px
			height 40px
			&__letters
				fill $text-color
			&__glasses
				fill $link-color

		&-desktop
			&__spark
				fill $link-color
			&__sparks
				fill $text-color

		&-tablet
			&:hover
				& ^[1..1]-tablet__letters //.logo-pink-tablet__letters
					fill $link-color
					transition-duration 0.3s

			&:active
				& ^[1..1]-tablet__letters //.logo-pink-tablet__letters
					fill $text-color
					opacity 0.3
					transition-duration 0s

				& ^[1..1]-tablet__glasses //.logo-pink-tablet__glasses
					opacity 0.3
					transition-duration 0s

		&-desktop
			&:hover
				& ^[1..1]-desktop__letters //.logo-pink-tablet__letters
					fill $link-color
					transition-duration 0.3s
				& ^[1..1]-desktop__sparks //.logo-pink-tablet__sparks
				& ^[1..1]-desktop__spark //.logo-pink-tablet__spark
					fill $text-color
					transition-duration 0.3s

			&:active
				& ^[1..1]-desktop__letters //.logo-pink-tablet__letters
				& ^[1..1]-desktop__sparks //.logo-pink-tablet__sparks
					fill $text-color
					opacity 0.3
					transition-duration 0s

				& ^[1..1]-desktop__glasses //.logo-pink-tablet__glasses
					opacity 0.3
					transition-duration 0s

				& ^[1..1]-desktop__spark //.logo-pink-tablet__spark
					fill $link-color
					opacity 0.3
					transition-duration 0s



//inner-page's visibility
.inner-page
	.page-footer
		+below($screen-md - 1)
			.logo-pink
				&-mobile
					display none
				&-tablet
					display block



/*! copyright-icon
	 ========================================================================== */

.icon-htmlacademy
	fill $link-color
	transition-duration 0.3s

	&:hover
		fill $text-color

	&:active
		opacity 0.3
		transition-duration 0s



/*! social-icon
	 ========================================================================== */

.icon
	&-twitter
	&-facebook
	&-youtube
		&__symbol
			fill inherit

		&__circle
			stroke currentColor

		& use
			fill $link-color
			color rgba($text-color, 0.3)
			transition-duration 0.3s

		&:hover
			& use
				color rgba($text-color, 1)
				transition-duration 0.3s

		&:active
			& use
				opacity 0.3
				transition-duration 0s
