.intro
	font-size $font-size
	line-height $line-height
	color $text-color
	text-align center

	p
		margin 0
		padding 0



.promo
	.intro
		margin 0
		margin-bottom 20px
		padding 45px
		font-size 24px
		font-weight 300
		line-height 1.2
		color #283645

		+above($screen-md)
			padding 50px
			padding-bottom 75px
			font-size 40px

		+above($screen-lg)
			padding 70px
			padding-bottom 130px
			font-size 50px

		p
			padding-bottom 30px

			&:last-child
				padding-bottom 0

			+above($screen-md)
				padding-bottom 0



.contacts
	.intro
		padding-top 45px
		padding-bottom 40px
		font-size 24px
		font-weight 300
		line-height 1.2
		color $text-color

		+above($screen-md)
			padding-top 35px
			padding-bottom 45px
			font-size 40px

		+above($screen-lg)
			padding-bottom 60px
			font-size 50px



.feedback-form
.photos
.photo-editor
	.intro
		font-size 14px
		line-height 30px

		+above($screen-md)
			font-size $font-size



.feedback-form
	.intro
		padding-top 45px
		padding-bottom 35px

		p
			display inline

			+below($screen-md - 1)
				&:last-child
					display none

		+above($screen-md)
			padding-left 60px
			padding-right 60px
			padding-top 90px
			padding-bottom 75px

		+above($screen-lg)
			padding-left 100px
			padding-right 100px
			padding-bottom 85px



.photos
	.intro
		padding-top 45px
		padding-bottom 50px

		+above($screen-md)
			padding-top 90px
			padding-bottom 80px

		+above($screen-lg)
			padding-bottom 90px



.photo-editor
	.intro
		padding-top 40px
		padding-bottom 40px

		+above($screen-md)
			padding-top 65px
			padding-bottom 70px

		+above($screen-lg)
			padding-top 60px
			padding-bottom 65px
