.like
	display flex
	align-items center
	align-self flex-end
	margin-bottom 10px

	+above($screen-md)
		display flex
		margin-top auto
		margin-left auto
		margin-bottom auto

	color $secondary-color
	font-size 12px
	line-height 12px
	text-transform uppercase

	.icon-heart
		margin-right 20px
		fill $secondary-color
		cursor pointer

		+above($screen-md)
			margin-left auto
			margin-right 0
			order 10
