.modal
	position fixed
	top 50%
	left 50%
	width 100%
	height auto
	padding-top 35px
	padding-right $grid-gutter-width
	padding-bottom 45px
	padding-left $grid-gutter-width
	text-align center
	background-color #fff
	transform translate(-50%,-50%)
	box-shadow 0 5px 20px 0 rgba($base-color, 0.3)
	z-index 15

	+above($screen-md)
		width 55%
		padding-left 80px
		padding-right 80px

	&__header
		margin 0
		padding 0
		margin-bottom 25px
		font-size 18px
		line-height 24px
		font-weight 700
		color $gray-base

		+above($screen-md)
			font-size 30px
			line-height 40px

	&__text
		margin-bottom 30px
		font-size 14px
		line-height 24px

		+above($screen-md)
			margin-bottom 35px
			font-size 18px
			line-height 24px

	&__btn
		btn(20px, 40px, 0)
		background-color $tertiary-color
		border-radius 3px
		font-weight 700
		text-transform uppercase
		color #fff

		&:hover
			background-color #1c9b5e
			transition-property background-color
			transition-duration 0.3s

		&:active
			color rgba(#fff, 0.7)
			transition-property color
			transition-duration 0s

	&--failure
		& ^[0]__btn
			min-width 100%

		+above($screen-lg)
			width 35%

	&--success
		& ^[0]__btn
			min-width calc(100% - 40px)
			margin-left $grid-gutter-width
			margin-right $grid-gutter-width

			+above($screen-md)
				min-width calc(100% - 160px)

		& ^[0]__inner
			margin-bottom -45px
			margin-left -($grid-gutter-width)
			margin-right -($grid-gutter-width)
			padding-top 50px
			padding-bottom 50px
			background-color #f2f2f2

			+above($screen-md)
				margin-left -80px
				margin-right -80px

		+above($screen-lg)
			width 50%

	&--hidden
		display none

	&--visible
		display block
