.page-header
	position relative
	z-index 10
	min-height 730px
	background-color #1d2631

	&::before
		content ""
		position absolute
		height 460px
		top 0
		right 0
		bottom 0
		left 0
		background-image url("../img/bg/bg-back-mobile@1x.jpg")
		background-position center
		background-repeat no-repeat
		background-size cover
		+density(1.5)
			background-image url("../img/bg/bg-back-mobile@2x.jpg")

		+above($screen-md)
			height auto
			background-image url("../img/bg/bg-back-tablet@1x.jpg")
			+density(1.5)
				background-image url("../img/bg/bg-back-tablet@2x.jpg")

		+above($screen-lg)
			background-image url("../img/bg/bg-back-desktop.jpg")

	&::after
		content ""
		position absolute
		width 258px
		height 286px
		top 174px
		left 50%
		transform translateX(-50%)
		spriteImage($s-iphone-hand-mobile-1x)
		spritePosition($s-iphone-hand-mobile-1x)
		background-repeat no-repeat
		background-size 1750px 1446px
		+density(1.5)
			spriteImage($s-iphone-hand-mobile-2x)
			background-size 1750px 1446px

		+above($screen-md)
			width 700px
			height 545px
			top auto
			bottom 0
			spriteImage($s-iphone-hand-tablet-1x)
			spritePosition($s-iphone-hand-tablet-1x)
			+density(1.5)
				spriteImage($s-iphone-hand-tablet-2x)
				background-size 1750px 1446px

		+above($screen-lg)
			width 1050px
			height 645px
			right 150px
			spriteImage($s-iphone-hand-desktop-1x)
			spritePosition($s-iphone-hand-desktop-1x)
			background-size 1750px 1446px
			+density(1.5)
				spriteImage($s-iphone-hand-desktop-2x)
				background-size 1750px 1446px

	+above($screen-lg)
		min-height 850px

	&__outer
		position relative
		height 66px
		width 100%
		background-color rgba($gray-base, 0.3)
		z-index 50
		&--solid-color
			background-color $text-color

		+above($screen-md)
			height 110px



	&__container
		container()
		position relative
		margin-top 422px
		text-align center
		z-index 20

		+above($screen-md)
			display flex
			margin-top 100px

	&__inner
		container()
		height inherit
		display flex
		flex-wrap nowrap
		justify-content space-between
		align-items center
		z-index 10

	&__logo
	&__toggle
		font-size 0
		cursor pointer

	&__logo
		margin-right auto // ie11

	&__toggle
		display flex
		align-items center
		width 50px
		height 25px
		margin-left auto // ie11
		user-select none
		+above($screen-lg)
			display none

	&__icon
		position relative
		width 100%
		height 5px
		background #fff
		backface-visibility hidden
		transition-duration 0.3s

		&::before
		&::after
			content ""
			position absolute
			width 100%
			height 5px
			left 0
			background #fff
			backface-visibility hidden
			transition-duration 0.3s

		&::before
			top 10px

		&::after
			top -10px

		^[0]__toggle  // page-header__toggle
			&:hover
				& > ^[0]__icon // page-header__icon
					background $link-color
					&::before
					&::after
						background $link-color
			&:active
				& > ^[0]__icon // page-header__icon
					opacity 0.3

			^[0]__toggle&--close // .page-header__toggle.page-header__toggle--close
				& > ^[0]__icon // page-header__icon
					background transparent
					&::before
						height floor(5px / 0.6)
						transform rotate(45deg) translate(-7px, -7px) scale(0.6)
					&::after
						height floor(5px / 0.6)
						transform rotate(-45deg) translate(-7px, 7px) scale(0.6)



.inner-page
	.page-header
		display flex
		flex-direction column
		justify-content center
		min-height 235px
		padding-top 66px
		padding-bottom 0

		&__outer
			position absolute
			top 0
			left 0

		+above($screen-md)
			min-height 440px
			padding-top 110px

		+above($screen-lg)
			min-height 395px

		&::before
			height auto

		&::after
			width 0
			height 0

