.photo-editor
	&__container
		container()
		padding-top 20px
		background-color #f2f2f2

		+above($screen-md)
			display flex
			justify-content space-between
			padding-top 55px
			padding-bottom 55px

		+above($screen-lg)
			padding-left 80px
			padding-right 60px

	&__link
		line-height 0

		+above($screen-md)
			width calc( 99.99% * 1/2 - (20px * 1/2) )

		+above($screen-lg)
			width calc( 99.99% * 1/2 - (180px * 1/2) )

	&__image
		min-width 100%
