.radio
	&__input
		display none

	&__caption
		position relative
		display flex
		padding-top 20px
		padding-bottom 25px
		padding-left 90px
		font-size $font-size
		line-height 30px
		color $base-color

		+above($screen-lg)
			padding-left 60px

		&::before
			content ""
			position absolute
			display block
			width 40px
			height 40px
			background-color #fff
			top 50%
			left 20px
			transform translateY(-50%)
			border 2px solid #e5e5e5
			border-radius 50%

			+above($screen-lg)
				left 0

		&:hover
			&::before
				border-color $base-color
				transition-duration 0.3s

		&:active
			&::before
				border-color $secondary-color
				transition-duration 0s

	&:first-of-type >
		& ^[0]__caption // .radio__caption
			margin-top 20px

			+above($screen-md)
				margin-top 0

			+above($screen-lg)
				margin-top 0

	&:last-of-type
		& ^[0]__caption // .radio__caption
			margin-bottom -20px

			+above($screen-lg)
				margin-bottom 0

	&__input
		&:checked +
			& ^[0]__caption // .radio__caption
				&::after
					content ""
					position absolute
					top 50%
					left 32px
					transform translateY(-50%)
					display block
					width 15px
					height 15px
					background-color $secondary-color
					border-radius 50%

					+above($screen-lg)
						left 12px

