.range-field
	fill rgba(#8d949b, 0.3)

	+above($screen-md)
		display flex
		align-items center
		padding-top 20px
		padding-bottom 20px

	+above($screen-lg)
		padding-top 15px
		padding-bottom 15px

	.editor-form__tool:first-child // .editor-form
		& ^[0] // .range-field
			padding-top 0

	&:hover
		fill #8d949b
		transition-duration 0.3s

	&:active
		fill $secondary-color
		transition-duration 0s

	&--active
		fill $secondary-color
		transition-duration 0.3s

	+above($screen-md)
		fill $secondary-color

	&__icon-crop
	&__icon-fill
	&__icon-contrast
		margin-bottom 55px

		+above($screen-md)
			margin-bottom 0

	&__icon-crop
	&__icon-fill
		+above($screen-md)
			width 30px
			height 30px

		+above($screen-lg)
			width 65px
			height 65px

	&__icon-contrast
		+above($screen-md)
			width 20px
			height 20px

		+above($screen-lg)
			width 45px
			height 45px

	&__input
		// Override range input basic appearance for all browsers
		range-field-runnable-track(25px, none)
		padding 0
		-webkit-appearance none

		&:focus
			outline none

		// Styling the track:
		// WebKit / Firefox
		&::-webkit-slider-runnable-track
			-webkit-appearance none
			range-field-runnable-track(2px, $base-color)

		&::-moz-range-track
			range-field-runnable-track(2px, $base-color)

		// IE
		&::-ms-track
			range-field-runnable-track(2px, none)
			background-color transparent
			color transparent

		&::-ms-fill-lower
		&::-ms-fill-upper
			background $base-color
			border none
			border-radius 0
			box-shadow none

		&:focus::-ms-fill-lower
		&:focus::-ms-fill-upper
			background $base-color

		// Styling the thumb:
		// WebKit / Firefox / IE
		&::-webkit-slider-thumb
			margin-top -6px
			range-field-slider-thumb(14px, 14px, #fff, $secondary-color, 2px)
			-webkit-appearance none

			&:hover
			&:active
				background $secondary-color
				transition-duration 0.3s

		&::-moz-range-thumb
			range-field-slider-thumb(14px, 14px, #fff, $secondary-color, 2px)

			&:hover
			&:active
				background $secondary-color
				transition-duration 0.3s

		&::-ms-thumb
			range-field-slider-thumb(14px, 14px, #fff, $secondary-color, 2px)
			&:hover
			&:active
				background $secondary-color
				transition-duration 0.3s



		+below($screen-md - 1)
			position absolute
			left 0
			bottom 25px
		&--hidden
			display none

		+above($screen-md)
			margin-left 20px
			margin-right 20px

		+above($screen-lg)
			margin-left 30px
			margin-right 30px
