tariffs-slider-loop(num, prefix)
	if num > 0
		for i in (1..num)
			\#{prefix}__slide{i}:checked ~ .{prefix}__mask .{prefix}__slides
				transform translateX(-25% * i)

+below($screen-md)
	tariffs-slider-loop(3, tariffs-slider)



.tariffs-slider
	position relative
	background-color #f2f2f2
	padding-top 60px
	padding-bottom 40px

	&::before
		content ""
		position absolute
		top -35px
		left 0
		right 0
		height 35px
		background-image embedurl("../img/bg/bg-triangle.svg", "utf8")
		background-repeat no-repeat
		background-size 100% 100%

		+above($screen-md)
			top -45px
			height 45px

		+above($screen-lg)
			top -85px
			height 85px

	+above($screen-md)
		padding-top 45px

	+above($screen-lg)
		padding-top 70px
		padding-bottom 85px

	&__container
		container()
		+below($screen-md - 1)
			padding-left 0
			padding-right 0

	&__mask
		overflow hidden
		padding-left 20px
		padding-right 20px

	&__slides
		width 400%
		transform translateX(-50%)
		transition-duration 0.8s

		+above($screen-md)
			width 100%
			transform translateX(0)

	&__slide
		width 25%

	&__input
		display none

	&__controls
		box-sizing content-box
		display flex
		justify-content center

		+above($screen-md)
			display none

	&__control
		width 6px
		height 6px
		margin-right 15px
		background-color #bec2c7
		border 3px solid #fff
		border-radius 50%
		cursor pointer

		&:hover
			background-color #7e868f
			transition-duration 0.3s

		&:active
			background-color rgba(#7e868f, 0.3)
			transition-duration 0.3s
		for i in 1 2 3
			^[0]__input[id=\"tariffs-slider__slide{i}\"] // .slider__input
				&:checked ~
					& ^[0]__controls
						& ^[0]__control[for=\"tariffs-slider__slide{i}\"] // .slider__control
							background-color #fff
							border 3px solid $text-color
							transition-duration 0.3s

