.tariffs-table
	margin-bottom 40px

	&__header
		color #fff
		text-align center
		text-transform uppercase

		& > ^[0]__row //.tariffs-table__row
			border-bottom none

		& th^[0]__cell //.tariffs-table__cell
			padding-left 40px
			padding-right 40px

			&:not(:first-child)
				background-color $text-color
				border-left 2px solid #e5e5e5
				border-right 2px solid #e5e5e5
				border-bottom 2px solid $text-color

			&:first-child
				border-left none
				border-right 2px solid $text-color

			&:last-child
				border-right 2px solid $text-color

			&--flag
				position relative
				overflow hidden

				&::before
					content attr(data-tag)
					position absolute
					top 10px
					left -40px
					display block
					width 120px
					height 30px
					background-color $link-color
					color #fff
					font-size 14px
					line-height 30px
					text-transform uppercase
					text-align center
					transform rotate(-45deg)

	&__body
		background-color #fff

		+above($screen-md)
			text-align center

	&__cell
		padding 18px
		border-right 2px solid #e5e5e5
		border-bottom 2px solid #e5e5e5
		border-left 2px solid #e5e5e5
		position relative

		+below($screen-md - 1)
			&:first-child
				visibility hidden
				border-bottom-color transparent // ie11

		+above($screen-md)
			padding 8px 20px

			&:first-child
				text-align left
				& > span
					&:first-child
						white-space nowrap
					&:last-child
						display none

			&:not(:first-child)
				& > span
					&:first-child
						display none

		+above($screen-lg)
			padding 16px

		& span
			&:first-child
				padding-right 50px

				+above($screen-md)
					padding-right 0

			&:last-child
				position absolute
				top 50%
				transform translateY(-50%)
				right 25px

				+above($screen-md)
					position static
					transform none

	&__tariff-name
		font-size 18px
		line-height 30px
		font-weight 700

		+above($screen-md)
			font-size 16px

		+above($screen-lg)
			font-size 18px

	&__tariff-price
		font-size 24px
		line-height 30px
		font-weight 400
		white-space nowrap

		+above($screen-md)
			font-size 18px

		+above($screen-lg)
			font-size 24px

	&__option-name
		font-size 14px
		text-transform uppercase

		+above($screen-md)
			text-transform none

		+above($screen-lg)
			font-size 18px
		color $text-color

	&__option-status
		.icon-enabled
		.icon-disabled
			fill inherit
		.icon-enabled
			use
				fill #3dc644
		.icon-disabled
			use
				fill #f25b26
