.text-field
	display flex
	flex-direction column
	margin-bottom 20px
	font-size 14px
	line-height 30px
	color $secondary-color
	text-transform uppercase

	&:last-child
		margin-bottom 0

	+above($screen-md)
		flex-direction row
		align-items center
		margin-bottom 50px

	&:last-child
		margin-bottom 0

	&__caption
		display block
		padding-left 20px
		padding-bottom 5px

		+above($screen-md)
			padding-left 0
			padding-right 25px
			padding-bottom 0

	&__container
		display block
		padding 10px
		padding-left 20px
		font-size $font-size
		line-height 30px
		color $text-color
		border 2px solid #e5e5e5
		border-radius 3px

		+above($screen-md)
			width 100%

	input&__input
		margin 0
		// ie11 process paddings incorrectly in border-box mode,
		// move all the necessary stylization to container class
		// realize :hover & :focus states through js
		padding 0
		background-color transparent
		border none

		&::placeholder
			color $text-color
			opacity 1

	&--state-hover
		& ^[0]__container
			border-color $base-color
			transition-duration 0.3s

	&--state-focus
		& ^[0]__container
			border-color $secondary-color
			transition-duration 0.3s
