extends ../_layouts/base

block variables
	- isIndex = false
	- bodyClass="inner-page inner-page--form";

block title
	| Pink: Конкурс

block lead
	| Конкурс на самое безбашеное путешествие с&nbsp;Пинк

block main-content
	+form



