range-field-runnable-track($height=10px, $background=$gray-lighter, $border-color=#000, $border-width=0, $border-radius=0)
	width 100%
	height $height
	background $background
	border $border-width solid $border-color
	border-radius $border-radius
	cursor pointer
