range-field-slider-thumb($width=15px, $height=15px, $background=$gray-lighter, $border-color=$gray-lighter, $border-width=1px,  $border-radius=50%)
	width $width
	height $height
	background $background
	border $border-width solid $border-color
	border-radius $border-radius
	cursor pointer
