mixin app
	div(block="app")
		a( elem="btn", mod="color: white" role="button" )
			| Скачать приложение

		ul( elem="os-list" )
			each item in site.data.osList
				li( elem="os-item" )
					a( elem="item-link", href="#", target="_blank" )
						svg( class="icon-" + item.title, width=item.width, height=item.height )
							use( xlink:href="#icon-" + item.title )

		p( elem="description" )
			| Доступно для iPhone, iPad, Android,
			br
			| Windows Phone, OS X, Windows 8
