mixin copyright
	div( block="copyright" )
		span Разработано
		a( href="https://htmlacademy.ru/" )
			svg( class="icon-htmlacademy", width="27", height="34" )
				use( xlink:href="#icon-htmlacademy" )
