mixin features
	div( block="features", data-class-name=".features" )
		div( elem="container" )
			ul( elem="list" )
				each item in site.data.features
					li( elem="item" )
						h2( elem="header" ) !{item.header}
						p( elem="description" ) !{item.description}

			div( elem="item", mod="full-width" )
				h2( elem="header" )
					| Эффект&thinsp;
					span
					| на 24 часа!
				p( elem="description" )
					| Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
				a( elem="link", href="#" )
					| Узнать больше об исследовании
