mixin form
	div( elem="container")
		div( block="feedback-form" )
			+intro
				p
					| Поделитесь своей историей и получите шанс выиграть ценный приз&nbsp;— 1000 миль на&nbsp;вашу бонусную карту!&nbsp;
				p
					| Пожалуйста, заполните форму ниже:

			form( block="form", action="/hello", method="post" )

					div( elem="fieldset", mod="full-name", role="group" )
						each item in site.data.form.fullName
							+textInput(item, "text-field")

					div( elem="fieldset", mod="achievements", role="group" )
						div( elem="legend" )
							| Ваши безбашенные достижения в&nbsp;путешествии
						each item in site.data.form.achievements
							+toggleInput(item, "checkbox")

					div( elem="fieldset", mod="contacts", role="group" )
						div( elem="legend" )
							| Контактная информация
						each item in site.data.form.contacts
							+textInput(item, "text-field")

					div( elem="fieldset", mod="os-choice", role="group" )
						div( elem="legend" )
							| С каким приложением путешествовали?
						each item in site.data.form.osChoice
							+toggleInput(item, "radio")

					div(elem="fieldset", mod="report", role="group" )
						div( elem="legend" )
							| Опишите свои эмоции
						+textarea

					div( elem="fieldset", mod="submit", role="group" )
						button( elem="submit", type="submit" )
							| Отправить форму
						+footnote

