mixin nav
	nav( block="navbar", mod="visible", id="nav" )
		ul( elem="nav" )
			each item, i in site.data.nav
				if (item.isActive)
					li( elem="item", mod="active" )
						a( elem="link", href=item.href )
							span=item.name
				else
					li( elem="item" )
						a( elem="link", href=item.href )
							span=item.name
