mixin page-footer
	div( elem="container" )

		div( elem="logo" )
			a( elem="link", href="#" )
				include ../../img/svg-sprite/logo-pink-tablet.svg
				include ../../img/svg-sprite/logo-pink-desktop.svg

		+socials
		+copyright
