mixin photo-editor
	div( block="photo-editor" )

		+intro
			p
				| Затмите их всех!
			p
				| Выкладывайте все, что накопилось в&nbsp;телефоне!

		div( elem="container" )

			a( elem="link", href="#" )
				img(elem="image", src="img/content/photo-7-mobile@2x.jpg" alt="Панорама дня")

			+editor-form

