mixin response(item)
	blockquote( block="response", class="responses-slider__slide" )
		cite( elem="author" ) !{item.author}
		div( elem="about" ) !{item.about}
		p( elem="feedback" ) !{item.feedback}
