mixin tariffs
	div( block="tariffs-slider")
		div( elem="container" )

			- for (var i=0; i < site.data.tariffs.tariffsList.length; i++) {
				if i == 0
					input( elem="input", type="radio", name="tariffs-slider__input", id="tariffs-slider__slide" + (i + 1), checked )
				else
					input( elem="input", type="radio", name="tariffs-slider__input", id="tariffs-slider__slide" + (i + 1))
			- }

			div( elem="mask" )
				+tariffs-table

			div( elem="controls" )
				- for (var i=0; i < site.data.tariffs.tariffsList.length; i++) {
					label( elem="control", for="tariffs-slider__slide" + (i + 1) )
				- }
