@import "partials/_variables"



/* Mixins
	 ========================================================================== */
@import "partials/_mixins/grid"
@import "partials/_mixins/button"
@import "partials/_mixins/range-field-runnable-track"
@import "partials/_mixins/range-field-slider-thumb"
@import "partials/_mixins/slider"
@import "partials/_mixins/png-sprite"
@import "partials/_mixins/spritesmith"



/*! Scaffolding
	 ========================================================================== */
@import "partials/_global/base"
@import "partials/_global/images"
@import "partials/_global/links"
@import "partials/_global/forms"
@import "partials/_global/tables"
@import "partials/_global/headings"
@import "partials/_global/fonts"



/*! BEM Blocks
	 ========================================================================== */
// .page-header
@import "partials/_blocks/page-header"

// index
@import "partials/_blocks/navbar"
@import "partials/_blocks/lead"
@import "partials/_blocks/app"



// .main-content
// index
@import "partials/_blocks/promo"
@import "partials/_blocks/intro"
@import "partials/_blocks/features"
@import "partials/_blocks/responses"
@import "partials/_blocks/response"
@import "partials/_blocks/tariffs"
@import "partials/_blocks/tariffs-table"
@import "partials/_blocks/contacts"

// form
@import "partials/_blocks/main-content"
@import "partials/_blocks/feedback-form"
@import "partials/_blocks/text-field"
@import "partials/_blocks/checkbox"
@import "partials/_blocks/radio"
@import "partials/_blocks/textarea"
@import "partials/_blocks/footnote"
@import "partials/_blocks/modal"

// photos
@import "partials/_blocks/photos"
@import "partials/_blocks/feed"
@import "partials/_blocks/post"
@import "partials/_blocks/like"

@import "partials/_blocks/photo-editor"
@import "partials/_blocks/editor-form"
@import "partials/_blocks/range-field"

// .page-footer
@import "partials/_blocks/page-footer"

// index
@import "partials/_blocks/socials"
@import "partials/_blocks/copyright"



// add-ons
@import "partials/_blocks/icons"
