//== Forms
//
input
button
select
optgroup
textarea
	margin 0
	line-height inherit
	font inherit
	text-transform none

textarea
	resize vertical

fieldset
	min-width 0
	padding 0
	margin 0
	border 0

legend
	display block
	width 100%
	padding 0
	border 0
	margin-top ($line-height / 2)
	margin-bottom ($line-height / 2)
	font-size $font-size--h4
	font-family $font-family--sans-serif
	font-weight 700
	line-height 1.4
	color currentColor

select
textarea
input[type="text"]
input[type="password"]
input[type="datetime"]
input[type="datetime-local"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="week"]
input[type="number"]
input[type="email"]
input[type="url"]
input[type="search"]
input[type="color"]
input[type="tel"]
	background-color #fff
	border 1px solid $border-color
	display inline-block
	vertical-align middle
	width 100%
	line-height $line-height
	height 2.125em

textarea
select[multiple]
	height auto

input[type="color"]
	max-width 100px

input[type="range"]
	width 100%

input[disabled]
input[readonly]
	background-color $gray-lighter
